<style>

    .right-container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

</style>

{% load staticfiles %}

<div class="right-container">

    <ul>
        <li class="home-page-list">
            <h2>Summarize Text From Paragraph/URL</h2>
        </li>
        <li class="home-page-list">
            <h2>Save Summarized Text</h2>
        </li>
        <li class="home-page-list">
            <h2>Summarize PDF to Text File</h2>
        </li>
        <li class="home-page-list">
            <h2>View Summarized News</h2>
        </li>
        <h4 style="margin-top: 80px;font-style: italic">Use Automatic Text Summarizer when you have less time for reading.</h4>
    </ul>

</div>